ul {
  list-style: none;
}

.listButton {
  display: flex;
  justify-content: center;
}

.listButtonItem {
  margin: 20px;
}

.button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgb(152, 218, 218);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(149, 189, 189);
}
