.listButton {
  display: flex;
  justify-content: center;
}

.listButtonItem {
  margin: 20px;
}

.button {
  width: 100px;
  height: 40px;
  border: none;
  /* background-color: rgb(149, 189, 189); */
  border-radius: 8px;
  cursor: pointer;
}

.buttonGood {
  composes: button;
  background-color: rgb(103, 204, 170);
}

.buttonNeutral {
  composes: button;
  background-color: rgb(201, 207, 110);
}

.buttonBad {
  composes: button;
  background-color: rgb(206, 110, 107);
}
